@use 'src/styles/index' as i


@mixin borderTop($radius)
  border-top-right-radius: $radius
  border-top-left-radius: $radius

.profile-information
  width: 100%
  position: relative
  @include i.flex-ColumnStartCenter
  @include borderTop(i.$radius-container)
  height: fit-content

  .wallpaper
    @include borderTop(i.$radius-container)
    width: 100%
    height: 70px
    img
      @include borderTop(i.$radius-container)
      height: 100%
      width: 100%
  
  .profile-image
    @include i.inElement-profile-image(80px)
    position: absolute
    top: 25px
    left: 30%
    border: 3px solid white

    .realative
      position: relative

      &:hover
        .profile-image-image
        filter: greyscale(100%)

    .profile-image-change
      display: none

    &:hover

      img
        filter: grayscale(50%)
      
      .profile-image-change
        display: flex
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: white


.information
  @include i.flex-ColumnStartCenter
  margin-top: 50px
  padding: 0 3%
  
  h1
    margin: 0px
    margin-bottom: 5px
    font-size: i.$font-l
  
  p
    color: gray
    margin: 0px
    
    text-align: center

.section
  display: block
  width: 100%
  padding: 0 4%
  @include i.inElement-border(border-top)
  $space: 10px
  margin-top: $space
  padding-top: $space

  p
    margin: 0
    margin-bottom: 5px
    color: gray

  span
    color: gray
    font-weight: 700
    text-decoration: underline


ul
  list-style-type: none
  margin: 0px
  padding: 0px

  li 
    margin: 10px 0
    height: fit-content
    cursor: pointer
    @include i.flex-RowStartCenter
    justify-content: space-between
    font-size: i.$font-s_minus
    color: gray

    span
      font-weight: 700
    
    .number
      color: i.$color-primary

    &:hover
      text-decoration: underline

.my-elements
    p
      color: black
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-content: center

      mat-icon
        margin-top: -3px
        margin-right: 5px

@media screen and (max-width: 800px)
  .section
    display: none

  .profile-information

    
    .wallpaper
      height: 60px

    .profile-image
      @include i.inElement-profile-image(70px)
      left: 44%

  .information
    margin-top: 40px

@media screen and (max-width: 650px)
  .profile-information
    .profile-image
      left: 43%

@media screen and (max-width: 600px)
  .profile-information
    .profile-image
      left: 42%

@media screen and (max-width: 400px)
  .profile-information
    .profile-image
      left: 39%

    