<div class="profile-information">
  <div class="wallpaper">
    <img [src]="userStream.backgroundFullImagePath" alt="background" />
  </div>
  <input
    #fileUpload
    (change)="onFileSelect($event)"
    style="display: none"
    type="file"
  />
  <div class="profile-image pointer" (click)="fileUpload.click()">
    <div class="relative">
      <img
        alt="profile"
        [ngStyle]="{ 'border-color': userRoleBackgroundColor }"
        *ngIf="userProfileFullImagePath"
        [src]="userProfileFullImagePath"
      />
      <mat-icon class="profile-image-change">image_search</mat-icon>
    </div>
  </div>
  <div class="information">
    <h1 (click)="goToAccount()">{{ fullName }}</h1>
    <p *ngIf="getUserJobData() !== null">{{ getUserJobData() }}</p>
  </div>
</div>
<div class="section">
  <ul>
    <li>
      <div>Kontakty<br /><span>Rozszerz sieć kontaktów</span></div>
      <div class="number">37</div>
    </li>
    <li>
      <div>Kto wyświetlił twój profil</div>
      <div class="number">24</div>
    </li>
  </ul>
</div>
<div class="section">
  <p class="click">Uzyskaj dostęp do ekskluzywanych narzędzi i informacji</p>
  <span>Skorzystaj bezpłatnie z premium</span>
</div>
<div class="section">
  <div class="my-elements">
    <p class="click"><mat-icon>beenhere</mat-icon>Moje elementy</p>
  </div>
</div>
