<div class="profile-information">
  <div
    class="wallpaper"
    [ngStyle]="{ backgroundColor: userRoleBackgroundColor }"
  >
    <!-- <img
      alt="wallpaper"
      src="../../../../assets/images/linkedin-wallpaper.png"
    /> -->
  </div>
  <div class="profile-image">
    <img alt="profile" src="../../../../assets/images/profile-image.png" />
  </div>
  <div class="information">
    <h1>{{ userData.firstName }} {{ userData.lastName }}</h1>
    <p *ngIf="getUserJobData() !== null">{{ getUserJobData() }}</p>
  </div>
</div>
<div class="section">
  <ul>
    <li>
      <div>Kontakty<br /><span>Rozszerz sieć kontaktów</span></div>
      <div class="number">37</div>
    </li>
    <li>
      <div>Kto wyświetlił twój profil</div>
      <div class="number">24</div>
    </li>
  </ul>
</div>
<div class="section">
  <p class="click">Uzyskaj dostęp do ekskluzywanych narzędzi i informacji</p>
  <span>Skorzystaj bezpłatnie z premium</span>
</div>
<div class="section">
  <div class="my-elements">
    <p class="click"><mat-icon>beenhere</mat-icon>Moje elementy</p>
  </div>
</div>
