@use 'src/styles/index' as i

h1
  font-weight: 200
  font-size: i.$font-omegaBig

.content-container
  @include i.flex-RowStartStart
  height: 100%
  width: 100%

.login
  @include i.flex-ColumnStartStart
  width: 40%
  padding: 0 5% 0 10%
  min-width: 500px

  h1
    width: 100%
    text-align: left
    padding-right: 0%

  app-login
    width: 90%

    button
      width: 100px


  .title
    color: #8f5849

.right-side
  @include i.flex-ColumnStartCenter
  width: 60%
  height: 100%

  .internship
    @include i.flex-ColumnStartStart
    width: 100%
    padding-bottom: 10px
    background-color: #f3f2f0
    height: 50%
    padding: 0 5%
    padding-bottom: 10px

    .title
      color: #181818

    .suggested-search
      @include-flex-columnStartStart
      flex-wrap: wrap
      width: 70%
      padding: 0px

      .option
        margin: 6px
        border: 1.5px solid gray
        height: 46px
        border-radius: 23px


  .job-offer
    @include i.flex-ColumnStartStart
    width: 100%
    background-color: #f1ece5
    height: 50%
    padding: 0 20% 0 5%

    .title
      color: #b24020

    button
      border: 1px solid i.$color-primary
      height: 56px
      border-radius: 28px
      font-size: i.$font-xl

  .title
    width: 100%
    
    h1
      margin: 0px
      font-size: i.$font-xxl


@media screen and (max-width: 1450px)
  .login
    padding: 0 5% 0 5%

  .right-side
    .internship 
      .suggested-search
        width: 100%
        .option
          margin: 5px
          border: 1.5px solid gray
          height: 46px
          border-radius: 23px

@media screen and (max-width: 1100px)
  .right-side
    .internship
      height: 55%

    .job-offer
      height:45%

@media screen and (max-width: 1000px)
  .content-container
    @include i.flex-ColumnStartCenter

  .login
    @include i.flex-ColumnStartCenter
    width: 100%
    padding-bottom: 20px

    app-login
      width: fit-content

    .title
      text-align: center

  .right-side
    width: 100%
    .internship
      height: fit-content
      padding: 10px auto

    .job-offer
      height: fit-content
      padding: 10px auto
      padding-bottom: 20px


@media screen and (max-width: 600px)
  h1
    font-weight: 200
    font-size: i.$font-xxl

  .right-side
    .internship
      .suggested-search
        .option
          margin: 5px
          border: 1.5px solid gray
          height: 36px
          border-radius: 18px

    .job-offer
      height: fit-content
      padding: 10px auto

      button
        height: 46px
        border-radius: 23px
        font-size: i.$font-l_plus

@media-screen and (max-width: 500px)
  .content-container
    .login
      min-width: 100px
      padding: 10px

@media screen and (max-width: 450px)
  h1
    font-weight: 200
    font-size: i.$font-xl

  .right-side
    .internship
      .suggested-search
        .option
          margin: 5px
          border: 1.5px solid gray
          height: 32px
          border-radius: 16px

    .job-offer
      height: fit-content
      padding: 10px auto

      button
        height: 40px
        border-radius: 20px
        font-size: i.$font-l