@use 'src/styles/index' as i

.content-container
  @include i.flex-ColumnStartCenter
  width: 100%
  gap: 15px

.post
  @include i.flex-ColumnStartStart
  width: 100%
  background-color: white
  border-radius: i.$radius-container
  padding: 10px 15px 0px 15px

.author
  @include i.flex-RowStartCenter
  justify-content: space-between
  gap: 15px
  width: 100%

  .image
    @include i.inElement-profile-image(60px)

  .information
    @include i.flex-RowStartCenter
    gap: 10px
    h1
      font-size: i.$font-m
      margin-bottom: 2px

    p
      margin: 0px
      font-size: i.$font-s
      color: gray
      
.text
  position: relative
  p
    font-size: i.$font-m

  .see-more
    position: absolute
    down: 10px
    right: 10px
    p
      font-size: i.$font-s_minus
      color: gray

.reactions
  @include i.flex-RowStartCenter
  justify-content: space-between
  padding: 0 10px
  width: 100%

  div
    p
      color: gray
      font-size: i.$font-s

.options
  @include i.flex-RowStartCenter
  justify-content: space-around
  gap: 10px
  width: 100%
  @include i.inElement-border(border-top)
  padding: 8px 5px

  .option
    @include i.flex-RowStartCenter
    gap: 5px
    padding: 1px 5px
    border-radius: i.$radius-button-default

    p
      margin: 7px 2px
      font-size: i.$font-m

    &:hover
      background-color: i.$color-gray-hover
      cursor: pointer

.underline
  &:hover
    cursor: pointer
    text-decoration: underline

.subscribe-button
  min-width: 120px
  @include i.flex-RowStartCenter


.see-more
  color: gray  

  &:hover
    cursor: pointer
    text-decoration: underline

.hideOnMobileView
  display: flex

.hideOnNormalView
  display: none

@media screen and (max-width: 500px )
  .hideOnMobileView
    display: none

  .hideOnNormalView
    display: flex