<div
  class="content-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="getPosts()"
  [scrollWindow]="true"
>
  <div class="post" *ngFor="let post of allLoadedPosts">
    <div class="author">
      <div class="information">
        <div class="image">
          <img src="../../../../assets/images/profiles/agh.JPG" alt="profile" />
        </div>
        <div>
          <h1>{{ post.author }}</h1>
          <p class="information-account">
            <span *ngIf="post.privateAccount; else show_subscribers">
              {{ post.company }}</span
            >
            <ng-template #show_subscribers>
              {{ post.subscribers }} obserwujących
            </ng-template>
            <br />
            {{ post.updatedAt | date }}
          </p>
        </div>
      </div>
      <button *ngIf="!post.privateAccount" mat-stroked-button color="primary">
        <span>+</span> Obserwuj
      </button>
    </div>
    <div class="text">
      <p>
        {{ post.content }}
      </p>
    </div>
    <div class="reactions">
      <div class="underline">
        <p *ngIf="post.likes !== 0">{{ post.likes }} polubień</p>
      </div>
      <div>
        <p>
          <span class="underline" *ngIf="post.comments !== 0"
            >{{ post.comments }} komentarze
          </span>
          <span *ngIf="post.likes !== 0 && post.shared !== 0">•</span>
          <span class="underline" *ngIf="post.shared !== 0">
            {{ post.shared }} udostępnienie
          </span>
        </p>
      </div>
    </div>
    <div class="options">
      <div *ngFor="let option of options; index as i" class="option">
        <mat-icon>{{ option.icon }}</mat-icon>
        <p>{{ option.text }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">Loading...</div>
</div>
