<div
  class="content-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="getPosts()"
  [scrollWindow]="true"
>
  <div class="post" *ngFor="let post of allLoadedPosts; index as i">
    <div class="author">
      <div class="information">
        <div class="image">
          <img [src]="post.authorFullImagePath" alt="profile" />
        </div>
        <div>
          <h1>{{ getAuthorName(post) }}</h1>
          <p class="information-account">
            <span
              *ngIf="
                post.author.isPrivateAccount && post.author.company;
                else show_subscribers
              "
            >
              {{ post.author.company }}</span
            >
            <ng-template #show_subscribers>
              {{ post.author.subscribers }} obserwujących
            </ng-template>
            <br />
            {{ post.updatedAt | date }}
          </p>
        </div>
      </div>
      <button
        *ngIf="
          !post.author.isPrivateAccount && (userId$ | async) !== post.author.id
        "
        mat-stroked-button
        type="button"
        color="primary"
        class="subscribe-button hideOnMobileView"
      >
        + Obserwuj
      </button>
      <div *ngIf="(userId$ | async) === post.author.id" class="authorOptions">
        <button
          *ngIf="userRole !== 'user'"
          mat-icon-button
          type="button"
          (click)="presentUpdateModal(post.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="deletePost(post.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button
        type="button"
        mat-mini-fab
        class="hideOnNormalView"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="post.fullImagePath" class="post-image">
      <img alt="post" [src]="post.fullImagePath" />
    </div>
    <div class="text">
      <p>
        {{ readMoreSplit(post.content)[0]
        }}<span
          *ngIf="!readMore[i] && readMoreSplit(post.content)[0].length >= 190"
          >...</span
        >
        <span
          class="see-more"
          *ngIf="readMoreSplit(post.content).length === 2 && !readMore[i]"
          (click)="toggleReadMore(i)"
        >
          ...zobacz więcej
        </span>
        <span *ngIf="readMore[i]" (click)="toggleReadMore(i)">
          {{ readMoreSplit(post.content)[1] }}
          <span class="see-more">...zwiń</span>
        </span>
      </p>
    </div>
    <div class="reactions">
      <div class="underline">
        <p *ngIf="post.likes !== 0">{{ post.likes }} polubień</p>
      </div>
      <div>
        <p>
          <span class="underline" *ngIf="post.comments !== 0"
            >{{ post.comments }} komentarze
          </span>
          <span *ngIf="post.likes !== 0 && post.shared !== 0">•</span>
          <span class="underline" *ngIf="post.shared !== 0">
            {{ post.shared }} udostępnienie
          </span>
        </p>
      </div>
    </div>
    <div class="options">
      <div *ngFor="let option of options; index as i" class="option">
        <mat-icon>{{ option.icon }}</mat-icon>
        <p class="hideOnMobileView">{{ option.text }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">Loading...</div>
</div>
