<div class="container">
  <div class="section">
    <div class="section-avatar">
      <div class="image">
        <img
          alt="navIcon"
          *ngIf="userFullImagePath"
          [src]="userFullImagePath"
          alt="profile"
        />
      </div>
      <div>
        <h2>{{ fullName }}</h2>
        <p *ngIf="getUserJobData() !== null">{{ getUserJobData() }}</p>
      </div>
    </div>
    <button
      [routerLink]="['/', 'home', 'account', userStream.id]"
      class="showProfile"
    >
      Wyświetl profil
    </button>
  </div>
  <div class="section">
    <ul>
      <li>Konto</li>
      <li class="premium-text">Skorzystaj bezpłatnie z premium</li>
      <li>Ustawienia i prywatność</li>
      <li [routerLink]="['/', 'home', 'statistics']">Statystyki</li>
      <li>Pomoc</li>
      <li>Język</li>
    </ul>
  </div>
  <div class="section">
    <ul>
      <li>Zarządzaj</li>
      <li>Publikacje i aktywności</li>
      <li>Konto do publikowania ofert pracy</li>
    </ul>
  </div>
  <div class="section-logout">
    <ul>
      <li (click)="onSignOut()">Wyloguj się</li>
    </ul>
  </div>
</div>
