<div class="container">
  <div class="section">
    <div class="section-avatar">
      <img
        alt="navIcon"
        src="../../../assets/images/nav-profile-bigger-icon.JPG"
      />
      <div>
        <h2>Igor Kłusek</h2>
        <p>Angular Developer w McCompany S.A</p>
      </div>
    </div>
    <button class="showProfile">Wyświetl profil</button>
  </div>
  <div class="section">
    <ul>
      <li>Konto</li>
      <li class="premium-text">Skorzystaj bezpłatnie z premium</li>
      <li>Ustawienia i prywatność</li>
      <li>Pomoc</li>
      <li>Język</li>
    </ul>
  </div>
  <div class="section">
    <ul>
      <li>Zarządzaj</li>
      <li>Publikacje i aktywności</li>
      <li>Konto do publikowania ofert pracy</li>
    </ul>
  </div>
  <div class="section-logout">
    <ul>
      <li (click)="onSignOut()">Wyloguj się</li>
    </ul>
  </div>
</div>
