@use 'src/styles/index' as i

.title
  font-size: i.$font-m
  margin: 0px
  margin-bottom: 16px
  letter-spacing: 1px
  font-weight: 500

.section
  @include i.flex-ColumnStartStart
  gap: 10px
  margin-bottom: 15px

.advert
  @include i.flex-RowStartStart
  gap: 7px

  .image
    // height: 60px
    width: 55px

  
  .information
    @include i.flex-ColumnStartStart
    @include i.inElement-button-gray
    gap: 5px

    h2
      font-size: i.$font-m
      margin: 0px

    p
      font-size: i.$font-micro_plus
      color: gray
      margin: 0px

    

      span
        font-size: i.$font-l
        margin-right: 5px

.allAdverts
  p
    font-size: i.$font-m
    color: gray
    margin: 0px
    margin-bottom: 5px



