@use 'src/styles/index' as i

.title
  font-size: i.$font-m
  margin: 0px
  margin-bottom: 16px
  letter-spacing: 1px
  font-weight: 500

.section
  @include i.flex-ColumnStartStart
  gap: 10px
  margin-bottom: 15px

.advert
  @include i.flex-RowStartStart
  gap: 7px

  .image
    // height: 60px
    width: 55px

  
  .information
    @include i.flex-ColumnStartStart
    gap: 5px

    h2
      font-size: i.$font-m
      margin: 0px

    p
      font-size: i.$font-s_minus
      color: gray
      margin: 0px

    button
      margin-top: 5px
      border-radius: 15px
      padding: 3px 15px
      border: 1px solid gray
      outline: 1px solid transaprent
      font-size: i.$font-m_plus
      background-color: white
      cursor: pointer
      transition: border 0.5s
      transition: outline 0.5s
      
      &:hover
        background-color: i.$color-gray-hover
        border: 1px solid gray
        outline: 1px solid gray

      span
        font-size: i.$font-l
        margin-right: 5px

.allAdverts
  p
    font-size: i.$font-m
    color: gray
    margin: 0px
    margin-bottom: 5px



