<div class="start-post">
  <div class="form">
    <div class="image pointer" (click)="goToAccount()">
      <img *ngIf="userFullImagePath" [src]="userFullImagePath" alt="profile" />
    </div>
    <button (click)="openModal()">Zacznij publikację</button>
  </div>
  <div class="options">
    <div
      class="option"
      #matTooltip="matTooltip"
      (click)="fileUpload.click()"
      [matTooltipDisabled]="!postImageAdded"
      matTooltip="Zdjecie dodane"
    >
      <mat-icon [ngStyle]="{ color: '#378fe9' }">photo_camera</mat-icon>
      <p>Zdjęcie</p>
    </div>
    <div class="option">
      <mat-icon [ngStyle]="{ color: '#5f9b41' }">smart_display</mat-icon>
      <p>Wideo</p>
    </div>
    <div class="option">
      <mat-icon [ngStyle]="{ color: '#c37d16' }">event_note</mat-icon>
      <p>Wydarzenia</p>
    </div>
    <div class="option">
      <mat-icon [ngStyle]="{ color: '#e16745' }">edit_note</mat-icon>
      <p>Napisz artykuł</p>
    </div>
    <input
      #fileUpload
      (change)="onFileSelect($event)"
      style="display: none"
      type="file"
    />
  </div>
</div>
