<div class="network-container">
  <div class="network-request-section">
    <div class="network-request-title">
      <div>
        <h1>Zaproszenia</h1>
      </div>
      <div>
        <p>Zarządzaj</p>
      </div>
    </div>
    <ng-container
      *ngIf="
        this.connectionProfileService.friendRequests.length !== 0;
        else noRequests
      "
    >
      <div
        class="network-request-tile"
        *ngFor="let request of this.connectionProfileService.friendRequests"
      >
        <div class="network-request-tile-user">
          <div class="network-profileImage pointer">
            <img
              [routerLink]="['/', 'home', 'account', request.creator.id]"
              [src]="request.creator.fullImagePath"
              alt="profile"
              loading="lazy"
            />
          </div>
          <div>
            <h2
              class="clickText"
              [routerLink]="['/', 'home', 'account', request.creator.id]"
            >
              {{ getAuthorName(request.creator) }}
            </h2>
            <p>Angular Developer at Airbus Technology</p>
          </div>
        </div>
        <div class="network-request-tile-buttons">
          <button
            mat-stroked-button
            (click)="respondToFriendRequest(request.id, 'declined')"
          >
            Zignoruj
          </button>
          <button
            mat-stroked-button
            color="primary"
            (click)="respondToFriendRequest(request.id, 'accepted')"
          >
            Zaakceptuj
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #noRequests>
      <div class="noRequests">
        <mat-icon>bookmark_added</mat-icon>
        <p>Jesteś na bieżaco</p>
      </div>
    </ng-template>
  </div>
</div>
