<div class="account-container">
  <div class="account-sectionOne">
    <div class="account-background-image">
      <img
        src="../../assets/images/profiles/background1.jpg"
        alt="background"
      />
    </div>
    <div class="account-profileImage">
      <img src="../../assets/images/profiles/profile-image.png" alt="profile" />
    </div>
    <div class="account-information">
      <div class="account-information-user">
        <div class="account-information-personal">
          <h1>Igor Kłusek</h1>
          <h2>Angular Developer at Airbus Technology</h2>
          <h3>
            Kraków, Woj. Małopolskie, Polska -
            <span> Informacje kontaktowe</span>
          </h3>
          <p>39 kontaktów</p>
        </div>
        <div class="account-information-workAndEducation">
          <div class="account-information-WorkAndEducation-element">
            <img src="../../assets/images/profiles/airbus.JPG" alt="work" />
            <p>Airbus Technology</p>
          </div>
          <div class="account-information-WorkAndEducation-element">
            <img src="../../assets/images/profiles/agh.JPG" alt="education" />
            <p>AGH University of Science and Technology</p>
          </div>
        </div>
      </div>

      <div class="account-options">
        <button mat-flat-button color="primary">Otwarty(-a) na</button>
        <button mat-stroked-button color="primary">
          Dodaj część w profilu
        </button>
        <button mat-stroked-button>Wiecej</button>
      </div>

      <div class="account-information-openToWork">
        <h4>Otwarty(-a) na oferty pracy</h4>
        <!-- , Frontend Web Developer, Full-stack Developer, Angular Developer -->
        <p>React Developer, JavaScript Engineer</p>
        <p>Pokaż szczegóły</p>
      </div>
    </div>
  </div>
</div>
