<div class="account-container" *ngIf="accountLoaded | async">
  <div class="account-sectionOne">
    <div class="account-background-image">
      <img [src]="user.backgroundFullImagePath" alt="background" />
      <div class="account-background-change" *ngIf="isLoggedUser">
        <button
          mat-mini-fab
          matTooltip="Zmień zdjęcie"
          (click)="backgroundChange.click()"
        >
          <mat-icon>camera_alt</mat-icon>
        </button>
      </div>
      <input
        #backgroundChange
        (change)="onImageChange($event, 'background')"
        style="display: none"
        type="file"
      />
    </div>
    <input
      #profileChange
      (change)="onImageChange($event, 'profile')"
      style="display: none"
      type="file"
    />
    <div class="account-profileImage relative pointer">
      <img
        [src]="user.profileFullImagePath"
        alt="profile"
        (click)="profileChange.click()"
      />
      <mat-icon class="profile-image-change">image_search</mat-icon>
    </div>
    <div class="account-information">
      <div class="account-information-user">
        <div class="account-information-personal">
          <div class="account-information-personal-type">
            <h1 #h1tag>{{ getAuthorName() }}</h1>
            <mat-icon
              #accountType
              #matTooltip="matTooltip"
              [matTooltip]="userRoleString"
            >
              person</mat-icon
            >
          </div>

          <h2>Angular Developer at Airbus Technology</h2>
          <h3>
            Kraków, Woj. Małopolskie, Polska -
            <span> Informacje kontaktowe</span>
          </h3>
          <p>39 kontaktów</p>
        </div>
        <div class="account-information-workAndEducation">
          <div class="account-information-WorkAndEducation-element">
            <img src="../../assets/images/profiles/airbus.JPG" alt="work" />
            <p>Airbus Technology</p>
          </div>
          <div class="account-information-WorkAndEducation-element">
            <img src="../../assets/images/profiles/agh.JPG" alt="education" />
            <p>AGH University of Science and Technology</p>
          </div>
        </div>
      </div>

      <div
        class="account-options"
        *ngIf="user.id === loggedUserId; else foreignAccount"
      >
        <button mat-flat-button color="primary">Otwarty(-a) na</button>
        <button mat-stroked-button color="primary">
          Dodaj część w profilu
        </button>
        <button mat-stroked-button>Wiecej</button>
      </div>
      <ng-template #foreignAccount>
        <div class="account-options">
          <button
            *ngIf="
              [
                'pending',
                'not-sent',
                'waiting-for-current-user-response'
              ].includes(friendRequest.status)
            "
            [disabled]="['pending'].includes(friendRequest.status)"
            mat-flat-button
            color="primary"
            (click)="
              friendRequest.status === 'waiting-for-current-user-response'
                ? respondToFriendRequest(true)
                : addUser()
            "
          >
            <mat-icon>person_add_alt_1</mat-icon>
            {{ friendRequestButton() }}
          </button>
          <button
            *ngIf="friendRequest.status === 'waiting-for-current-user-response'"
            mat-flat-button
            color="primary"
            (click)="respondToFriendRequest(false)"
          >
            <mat-icon>group_remove</mat-icon>
            Zignoruj
          </button>
          <button mat-stroked-button extended color="primary">
            <mat-icon>send</mat-icon> Wiadomość
          </button>
          <button mat-stroked-button>Wiecej</button>
        </div>
      </ng-template>

      <div
        *ngIf="user.id === loggedUserId"
        class="account-information-openToWork"
      >
        <h4>Otwarty(-a) na oferty pracy</h4>
        <!-- , Frontend Web Developer, Full-stack Developer, Angular Developer -->
        <p>React Developer, JavaScript Engineer</p>
        <p>Pokaż szczegóły</p>
      </div>
    </div>
  </div>
  <app-experience></app-experience>
</div>
