<div class="experience-container">
  <div class="experience-header">
    <h1>Doświadczenie</h1>
    <div class="buttons">
      <button class="icon" mat-icon-button (click)="addExperienceDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <button class="icon" mat-icon-button [routerLink]="['edit-experience']">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div
    *ngFor="let experience of userExperience$ | async; index as i"
    class="experience-section"
  >
    <div class="left-side">
      <img src="../../assets/images/profiles/airbus.JPG" alt="work" />
    </div>
    <div class="right-side">
      <div class="work-information">
        <h2>{{ experience.position }}</h2>
        <h3>
          {{ experience.companyName }} &centerdot;
          {{ getFormOfEmployment(experience.formOfEmployment) }}
        </h3>
        <p>
          {{ formatExperienceDate(experience.startDate) }} -
          {{
            experience.endDate
              ? formatExperienceDate(experience.endDate)
              : "obecnie"
          }}
          &centerdot; {{ workingTimeDescription(experience) }}.
        </p>
      </div>
      <div class="description" *ngIf="experience.description">
        <p>
          {{ textService.readMoreSplit(experience.description)[0]
          }}<span
            *ngIf="
              !readMore[i] &&
              textService.readMoreSplit(experience.description)[0].length >= 190
            "
            >...</span
          >
          <span
            class="see-more clickText"
            *ngIf="
              textService.readMoreSplit(experience.description).length === 2 &&
              !readMore[i]
            "
            (click)="toggleReadMore(i)"
          >
            ...zobacz więcej
          </span>
          <span *ngIf="readMore[i]" (click)="toggleReadMore(i)">
            {{ textService.readMoreSplit(experience.description)[1] }}
            <span class="see-more clickText">...zwiń</span>
          </span>
        </p>
      </div>
      <div class="skills" *ngIf="experience.skills">
        <p>
          <span>Umiejęteności: </span>
          <span
            *ngFor="
              let skill of experience.skills;
              let i = index;
              last as isLast
            "
            >{{ skill }} <span *ngIf="!isLast"> &centerdot; </span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
