@use 'src/styles/index' as i

$nav-fontSize: 10px

nav 
  background-color: i.$color-white
  padding: 12px 27% 0px 20%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #D0D0D0

  ul
    z-index: 1
    height: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    list-style-type: none
    margin: 0px
    padding: 0px

    li
      display: inline-block
      margin: 0 2px
      height: 100%
      padding-bottom: 3px



.nav-left 
  display: flex
  flex-direction: row
  justify-content: flex-start
  gap: 10px
  align-items: center
  height: 40px

  img 
    width: 35px

.link
  width: 65px

  a
    text-decoration: none
    cursor: pointer
    color: i.$color-nav-icon  
    display: flex
    flex-direction: column
    align-items: center 
    font-size: $nav-fontSize

    &:hover
      color: i.$color-nav-icon-acitve

    .icon
      font-size: 25px
      width: 25px
      height: fit-content

.showActive
  display: block
  width: 0%
  height: 2px
  background-color: i.$color-nav-icon-acitve
  transition: width 0.5s

.activeLink
  a
    color: i.$color-nav-icon-acitve

  .showActive
    width: 100%
    background-color: i.$color-nav-icon-acitve

.avatar
  height: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  font-size: $nav-fontSize
  @include i.inElement-profile-image(30px)

.avatarButton
  height: 100%
  margin-left: 30px

.hideDescription-avatar
  display: flex
  justify-content: flex-start
  align-items: center
  font-size: 10px
  
  mat-icon
    font-size: 15px
    height: 13px

.hideDescription
  display: block

@media screen and (max-width: 1400px)
  nav 
    padding: 12px 17% 0px 10%

@media screen and (max-width: 1000px)
  nav 
    padding: 12px 7% 0px 3%
    


@media screen and (max-width: 800px)
  .hideDescription
    display: none
    
  .hideDescription-avatar
    display: none

  .avatar
    @include i.inElement-profile-image(40px)

  .showActive
    display: none

  .link
    width: 50px

  nav
    ul
      height: 31px
      li
        padding-top: 1px
        padding-bottom: 0px