<div class="messages-wrapper" *ngIf="friend">
  <div class="usersList-container">
    <div class="title-container">
      <div class="title-container-section">
        <h1>Wiadomości</h1>
      </div>
      <div class="title-container-buttons">
        <button mat-icon-button>
          <mat-icon>keyboard_control</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>drive_file_rename_outline</mat-icon>
        </button>
      </div>
    </div>
    <div class="usersList-section">
      <ul>
        <li
          *ngFor="let friend of friends; let i = index"
          class="list-item pointer"
          (click)="openConversation(friend, i)"
          [ngClass]="{
            'selected-conversation': selectedConversationIndex === i
          }"
        >
          <div class="messagePreview-tile">
            <div class="messagePreview-image">
              <img [src]="friend.profileFullImagePath" alt="profile" />
            </div>
            <div class="messagePreview-data">
              <div class="messagePreview-data-user">
                <div class="userName">
                  <h4>{{ friend.firstName }}</h4>
                </div>
                <!-- TODO: LAST message Mock -->
                <div class="last-message-date">21 maja</div>
              </div>
              <div class="messagePreview-data-lastMessage">
                <p>last message mock</p>
                <!-- TODO: last message date -->
                <!-- <p>{{ friend.lastMessage.message }}</p> -->
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="chat-container">
    <div class="title-container">
      <div class="title-container-section">
        <h2>{{ friend.firstName }}</h2>
        <h3>Inżyniera Biomedyczna</h3>
      </div>
      <div class="title-container-buttons">
        <button mat-icon-button>
          <mat-icon>keyboard_control</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>video_camera_front</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>star_border</mat-icon>
        </button>
      </div>
    </div>
    <div class="chat-history-section">
      <div class="chat-history-user">
        <div class="chat-history-user-image">
          <img [src]="friend.profileFullImagePath" alt="profile" />
        </div>
        <div class="chat-history-user-data">
          <!-- TODO: get method for userName-->
          <h2>{{ friend.firstName }}</h2>
          <h3>{{ friend.position }}</h3>
        </div>
      </div>
      <div class="chat-history-global-date">
        <div class="chat-history-globale-date-line"></div>
        <div class="chat-history-globale-date-string">29 MAR 2023</div>
        <div class="chat-history-globale-date-line"></div>
      </div>
      <div class="chat-history-messages">
        <ul>
          <li *ngFor="let message of messages">
            <div class="message-section">
              <div class="message-user-image">
                <img [src]="message.user?.profileFullImagePath" alt="profile" />
              </div>
              <div class="message-data">
                <div class="message-data-user">
                  <h4>
                    <!-- TODO: get method for userName-->
                    <!-- TODO: createdAt to rework -->
                    <!-- {{ message.user?.firstName }} • <span>{{ message.createdAt }}</span> -->
                    {{ message.user?.firstName }} •
                    <span>{{ message.createdAt | date : "short" }}</span>
                  </h4>
                </div>
                <div class="message-message">
                  {{ message.message }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <form
      class="chat-sendMessage-section"
      [formGroup]="sendMessageForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="chat-sendMessage-textArea">
        <textarea
          name="message"
          id="message"
          formControlName="message"
          placeholder="Write a message..."
        ></textarea>
      </div>
      <div class="chat-sendMessage-options">
        <div class="chat-sendMessage-options-buttonss">
          <button mat-icon-button matTooltip="Zdjęcie (w implementacji)">
            <mat-icon>image</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Załącznik (w implementacji)">
            <mat-icon>attach_file</mat-icon>
          </button>
          <button mat-icon-button matTooltip="GIF (w implementacji)">
            <mat-icon>gif</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Emotka (w implementacji)">
            <mat-icon>insert_emoticon</mat-icon>
          </button>
        </div>
        <div class="chat-sendMessage-options-sendButton">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="sendMessageForm.invalid"
          >
            Wyślij
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div>
  <span>Chat room</span>
  <p *ngFor="let message of messages">{{ message }}</p>
  <form class="formContainer" #form="ngForm" (ngSubmit)="onSubmit()">
    <input ngModel type="text" name="message" required />
    <button [disabled]="!form.valid" type="submit">send message</button>
  </form>
</div> -->
