<a routerLink="/">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png"
  />
</a>
<form
  [formGroup]="searchForm"
  (keyup.enter)="onSubmit()"
  [style.width]="showMobileSearchBarButton ? '100%' : '400px'"
>
  <div
    [style.display]="
      showMobileSearchBarButton && widthIsSmallerThan700px ? 'none' : 'block'
    "
    class="searchbar"
  >
    <input
      id="search"
      formControlName="search"
      type="text"
      placeholder="Szukaj"
    />
    <mat-icon>search</mat-icon>
  </div>

  <button
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    class="mobileView"
    (click)="changeMobileSearchBarVisibility()"
    [style.display]="
      showMobileSearchBarButton && widthIsSmallerThan700px ? 'block' : 'none'
    "
  >
    <mat-icon>search</mat-icon>
  </button>
</form>
