/* You can add global styles to this file, and also import other style files */
@use 'src/styles/index' as i
// regular style toast
@import 'ngx-toastr/toastr'

html
	box-sizing: border-box
	overflow-x: hidden //preventing scrollbar to move the site
	margin-right: calc(-1 * (100vw - 100%)) //preventing scrollbar to move the site

*, *:before, *:after
	box-sizing: inherit

html, body
	font-family: 'Roboto', sans-serif
	// height: 100%
	min-width: 400px
	box-sizing: border-box

body
	margin: 0px
	background-color: i.$color-app-backgroundColor

.clickText
	cursor: pointer

	&:hover
		text-decoration: underline

.pointer
	&:hover
		cursor: pointer

.modalClass
	border-radius: 25px

.wholePage-container
	width: 100%

.transparent
	mat-dialog-container 
	background-color: transparent
	box-shadow: none !important

//fix for moving scroll when opening dialogs
// .cdk-global-scrollblock
// 	position: static !important
// 	width: initial !important
// 	overflow-y: inherit !important

.blur-load
	background-size: cover
	background-position: center

.blur-load.loaded > img
	opacity: 1

.blur-load > img
	opacity: 0
	transition: opacity 200ms ease-in-out

.blur-load::before
	content: ""
	position: absolute
	inset: 0
	animation: pulse 2.5s infinite

.blur-load.loaded::before
	content: none

@keyframes pulse
	0%
		background-color: rgba(255,255,255,0)
	50%
		background-color: rgba(255,255,255, 0.1)
	100%
		background-color: rgba(255,255,255,0)

.realative
	position: relative
