<form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
  <div class="contentModal">
    <div class="user">
      <div class="image">
        <img
          alt="profile"
          *ngIf="userFullImagePath"
          [src]="userFullImagePath"
        />
      </div>
      <div>
        <h1>{{ fullName }}</h1>
        <p>Opublikuj: Każdy</p>
      </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <div class="close">
      <button type="button" mat-icon-button (click)="cancelPost()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="editZone">
      <div
        *ngIf="passedData?.postData?.fullImagePath"
        class="post-image pointer"
        matTooltip="Usuń zdjęcie"
        (click)="onDeletePostImage()"
      >
        <div class="relative">
          <img alt="post" [src]="passedData.postData.fullImagePath" />
          <mat-icon class="post-image-delete">hide_image</mat-icon>
        </div>
      </div>
      <div class="text">
        <textarea
          #PostTextArea
          name="text"
          id="text"
          formControlName="text"
          placeholder="O czym chcesz porozmawiać?"
        ></textarea>
      </div>
    </div>
    <div class="assignment">
      <button
        type="button"
        mat-fab
        #matTooltip="matTooltip"
        [matTooltip]="postImageTooltipMessage"
        (click)="imageUpload.click()"
        [ngStyle]="
          userRole === 'user'
            ? { 'background-color': '#86888a' }
            : { 'background-color': '#378fe9' }
        "
        [disabled]="userRole === 'user'"
      >
        <mat-icon>photo_camera</mat-icon>
      </button>
      <button
        type="button"
        mat-fab
        matTooltip="Wideo (w implementacji)"
        [ngStyle]="{ 'background-color': '#5f9b41' }"
      >
        <mat-icon>smart_display</mat-icon>
      </button>
      <button
        type="button"
        mat-fab
        matTooltip="Wydarzenie (w implementacji)"
        [ngStyle]="{ 'background-color': '#c37d16' }"
      >
        <mat-icon>event_note</mat-icon>
      </button>
      <button
        type="button"
        mat-fab
        matTooltip="Napisz artykuł (w implementacji)"
        [ngStyle]="{ 'background-color': '#e16745' }"
      >
        <mat-icon>edit_note</mat-icon>
      </button>
    </div>
    <input
      #imageUpload
      (change)="onFileSelect($event)"
      style="display: none"
      type="file"
    />
  </div>
  <div class="contentModal-finish">
    <mat-icon
      matTooltip="Zdjęcie dodano"
      [ngStyle]="{ color: 'green' }"
      *ngIf="postImageAdded"
      >add_photo_alternate</mat-icon
    >

    <button
      type="button"
      mat-icon-button
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>access_time</mat-icon>
    </button>

    <button
      class="custom-button"
      mat-dialog-close
      mat-stroked-button
      type="submit"
      [disabled]="addPostForm.invalid"
      color="primary"
    >
      Opublikuj
    </button>
  </div>
</form>
