@use 'src/styles/index' as i

$content-width: 700px

.content
  position: relative
  @include i.flex-ColumnStartStart
  gap: 15px
  padding: 15px
  width: $content-width

  border-bottom: 1px solid i.$color-light

.content-finish
  @include i.flex-RowStartCenter
  justify-content: flex-end
  padding: 15px
  gap: 5px
  width: $content-width

  .custom-button
    margin-bottom: 7px
    border-radius: 15px



.user
  @include i.flex-RowStartCenter
  gap: 10px

  padding: 10px
  border-radius: 10px

  &:hover
    background-color: i.$color-gray-hover
    cursor: pointer

  h1
    font-size: i.$font-l
    font-weight: 400
    margin: 0px

  p
    margin: 0px
    font-size: i.$font-m
    color: gray

  .image
    @include i.inElement-profile-image(50px)

.close
  position: absolute
  right: 10px
  top: 10px

.text
  width: 100%

  textarea
    border: none
    overflow: auto
    outline: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none

  textarea
    width: 100%
    min-height: 250px
    border: 0px
    font-size: i.$font-l
    resize: none

.assignment
  @include i.flex-RowStartCenter
  gap: 15px
  width: 100%


@media screen and (max-width: 1000px) 
  $content-width: 500px
  .content-container
    width: $content-width

  .content-finish
    width: $content-width


@media screen and (max-width: 650px) 
  $content-width: 400px
  .content-container
    width: $content-width

  .content-finish
    width: $content-width

@media screen and (max-width: 500px) 
  $content-width: 350px
  .content-container
    width: $content-width

  .content-finish
    width: $content-width

@media screen and (max-width: 450px) 
  $content-width: 300px
  .content-container
    width: $content-width

  .content-finish
    width: $content-width