<form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
  <div class="content">
    <div class="close">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="user">
      <div class="image">
        <img
          alt="profile"
          *ngIf="userFullImagePath"
          [src]="userFullImagePath"
        />
      </div>
      <div>
        <h1>{{ fullName }}</h1>
        <p>Opublikuj: Każdy</p>
      </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>

    <div class="text">
      <textarea
        #PostTextArea
        name="text"
        id="text"
        formControlName="text"
        placeholder="O czym chcesz porozmawiać?"
      ></textarea>
    </div>
    <div class="assignment">
      <button
        *ngFor="let button of passedData.options"
        mat-fab
        aria-label="Example icon button with a menu icon"
        [ngStyle]="{ 'background-color': button.color }"
      >
        <mat-icon>{{ button.icon }}</mat-icon>
      </button>
    </div>
  </div>
  <div class="content-finish">
    <button mat-icon-button aria-label="Example icon button with a menu icon">
      <mat-icon>access_time</mat-icon>
    </button>

    <button
      class="custom-button"
      mat-dialog-close
      mat-stroked-button
      type="submit"
      [disabled]="addPostForm.invalid"
      color="primary"
    >
      Opublikuj
    </button>
  </div>
</form>
